Fluxos/Console-sdr-ImobiliariasMCP.json
{
  "name": "Console-sdr-ImobiliariasMCP",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2624,
        288
      ],
      "id": "cebee758-aafb-43d3-92d2-f05a309923ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CBtOj1cyExhqGmxK",
          "name": "ImobAIBloco"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23b1bc7-3ed9-4d80-8740-674c94821a70",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "1db63104-e993-4697-8b98-627ca5dc2f3b",
              "name": "sessionId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "105543ff-22e2-4321-819b-0f3cf3256f41",
              "name": "name",
              "value": "={{ \"João da Silva\" }}",
              "type": "string"
            },
            {
              "id": "f2a36f46-def6-42b9-99d1-291f225c6cc2",
              "name": "phone",
              "value": "5586981612934",
              "type": "string"
            },
            {
              "id": "7500ff78-e186-4f63-a206-f2457d6615ac",
              "name": "name_banco_dados",
              "value": "={{ $json.response.name }}",
              "type": "string"
            },
            {
              "id": "ec168587-6102-4f50-9169-0a3a8cfb69a9",
              "name": "cliente_intencao",
              "value": "={{ $json.response.cliente_intencao }}",
              "type": "string"
            },
            {
              "id": "8312f8d4-41eb-4f84-81a3-7515a181adb4",
              "name": "localizacao_preferida",
              "value": "={{ $json.response.localizacao_preferida }}",
              "type": "string"
            },
            {
              "id": "8dd06fc0-89cf-48fb-98bb-052298c2dd62",
              "name": "imovel_pretendido",
              "value": "={{ $json.response.imovel_pretendido }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        -16
      ],
      "id": "5f95ea0d-9c2c-497c-8883-7ba44c43ffa9",
      "name": "config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23b1bc7-3ed9-4d80-8740-674c94821a70",
              "name": "text",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "1db63104-e993-4697-8b98-627ca5dc2f3b",
              "name": "sessionId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "105543ff-22e2-4321-819b-0f3cf3256f41",
              "name": "name",
              "value": "={{ \"João da Silva\" }}",
              "type": "string"
            },
            {
              "id": "f2a36f46-def6-42b9-99d1-291f225c6cc2",
              "name": "phone",
              "value": "5586981612934",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        -16
      ],
      "id": "62f2aaab-c874-4190-86d8-1382562ce85e",
      "name": "SetFieldsBasic"
    },
    {
      "parameters": {
        "content": "\n# Console-sdr-ImobiliariasMCP-export\n## Esta função atualiza os dados do cliente, busca o cliente e encontra do CEP do endereço do cliente.\n\n# Config:\n## Colouqe s URL do seu Strapi\n\n# Subfluxo\n## Selecione novamente o nome do subfluxo em 'Execute Worflow'\n\n# MCP Cliente\n## Coloque a URL do MCP Server\n\n# Config\n## Utilize o NÓ 'config' para configurar as URLS e tabelas do STRAPI onde os dados serão armazenados\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br",
        "height": 1140,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -96
      ],
      "id": "293bdd1d-14e2-42ff-90cd-053d43da9137",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ja5wyttEsTrsgSYN",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ja5wyttEsTrsgSYN",
          "cachedResultName": "ToolsCustomerStripe-Imobiliaria"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "function": "get_or_create",
            "phone": "={{ $json.phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function",
              "displayName": "function",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "cliente_intencao",
              "displayName": "cliente_intencao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "imovel_pretendido",
              "displayName": "imovel_pretendido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "nivel_interesse",
              "displayName": "nivel_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "localizacao_preferida",
              "displayName": "localizacao_preferida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "retornar_em",
              "displayName": "retornar_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2160,
        -16
      ],
      "id": "a3253810-4f60-47f7-ab47-eeb4cd1a472f",
      "name": "Call 'ToolsCustomerStripe-Imobiliaria'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1680,
        -16
      ],
      "id": "e3a76b13-7d4c-41b8-8a60-7c5f0a2641b4",
      "name": "When chat message received",
      "webhookId": "2b02b1f6-6b4b-4af1-8a65-3d412a8839b7"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# 🧠 Agente de Atendimento de uma imobiliaria\n\n## Função\nVocê é um agente de atendimento de uma imobiliaria. Sua função é fornecer informações sobre imóveis a venda na cidade de Teresina oferecidos pela contrutora MRV.\n\n## Funções disponíveis (MCP):\n1. *find_custumer*: Para buscar os dados do cliente\n3. *update_customer*: Atualizar dos dados do cliente\n4. *getall_imoveis*: Busca a lista dos imóveis disponíveis\n5. *get_imovel_by_id*: Recupera todos os dados de um imóvel específico\n\n## Regras Importantes\n- Ao listar os imóveis exiba apenas o nome, tamanho e localização resumida\n- Consulte a sua lista do imóveis na função 'getall_imoveis', o json retornado por esta função contém os campos (id,title, description, price, foto ..)\n- Nunca crie IDs para consultar as informações de um imóvel, use o ID da lista que buscou no 'getall_imoveis'\n- Apenas forneça informações dos imóveis contidos no banco de dados\n- Nunca envie os dados em formato JSON ou html\n- Nunca envie códigos MARKDOWN \n- Nunca pergunte o telefone do cliente pois você está falando com ele através do whatsapp\n- Se o cliente perguntar detalhes como 'preco','sobre financiamento','se está disponível' colocque a\n- Depois de cada mensagem do cliente analise o que o cliente deseja e atualize as informação usando o 'update_customer' com os seguintes dados:\n   - cliente_intencao : exemplo alugar ou comprar\n   - imovel_pretendido : Nome específico do imovel ou tipo,Exemplo \"casa zona sul\", \"aprartamento duplex\", \"kitnet para estudante\"\n   - localizacao_preferida : Local ou bairro onde o cliente deseja o imóvel\n   - nivel_interesse : O nivel de interesse do cliente (baixo|medio|alto)\n   - retornar_em : Data para o corretor entrar em contato\n\n## Fluxo de Atendimento\n\n### Para atender o cliente:\n1.0 Pergunte o nome do cliente caso não tenha registro no banco de dados, e atualize seu banco de dados e salve as informações utilizando  o 'update_customer',\n- Se necessário use Nome do cliente (registrado no whatsapp):\n  {{ $json.name }}\n\n3.0 Sugerir imóveis ou buscar no banco de dados o imóvel que o cliente solicitou\n\n4.0 Perguntar a localização ou bairro preferido para o imóvel\n\n6.0 Para obter todos os dados de um imóvel em específico use o 'get_imovel_by_id' passano como pareametro o ID do imóvel, exemplo: 1\n\n7.0 Caso o cliente deseja conversar com um corretor, perguntar apenas o melhor dia. O consultor definirá o horário diretamente com o cliente\n\n8.0 Caso o cliente não tenha gostado de nenhum imóvel, informar que anotou o tipo de imóvel que ele deseja e enviará novidades pelo whatsapp\n\n\n## Formatar links de pdfs e imagens\n\n- Coloque um sufixo &tipo=image ou ?tipo=image em links de imagens, exemplo: https://site.com.br/image_do_imovel?tipo=image ou \nhttps://site.com.br/image_do_imovel?param=public&tipo=image\n\n- Coloque um sufixo &tipo=pdf ou ?tipo=pdf em links de pdfs, exemplo: https://site.com.br/image_do_pdf?tipo=pdf ou \nhttps://site.com.br/image_do_pdf?param=public&tipo=pdf\n\n## Exemplos de resposta:\n\n- Qual o preço deste papartamento?\n- Um minuto vou consultar ...\\n\\n\n  O valor é de 1,300.000\n\n- Qual o valar deste papartamento?\n- O valor é de 1,300.000 (hum milhão e trezentos mil)\n  \n- Oi tudo bem ?\n- Olá João, tudo bem ? ainda interessado em apartamentos no Jóquei ?\n\n- Oi tudo bem ?\n- Olá, tudo ótimo e com você? \\n\\n\n  Tenho vários lançamentos imobiliários aqui, deseja ver alguns ? \\n\n  Me envia a melhor localização para eu enviar sugestões .. \n\n- Oi boa tar ?\n- Olá, boa tarde \\n\\n\n  como posso te ajudar ?\n\n## Variáveis Úteis\n- telefone do cliente:\n  {{ $json.phone }}\n- Nome do cliente (registrado no whatsapp):\n  {{ $json.name }}\n- Nome do cliente (registrado no bando de dados):\n  {{ $json.name_banco_dados }}\n\n- Intenção do cliente cadastrada\n  {{ $json.cliente_intencao }}\n\n- localizacao preferida para imóvel que o cliente mencionou\n  {{ $json.localizacao_preferida }}\n\n- Data de hoje:\n  {{ $now.format('dd-MM-yyyy')}} | {{ $now.weekdayLong }}\n\n- Data de amanhã:\n  {{ $now.plus(1,'day').format('dd-MM-yyyy')}} | {{ $now.plus(1,'day').weekdayLong }}\n- Hora atual:\n  {{ $now.format('HH:mm:ss')}}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2848,
        -16
      ],
      "id": "3c5742ff-269a-4883-957a-dd06e46b3282",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://imobwebhook.advancedbot.com.br/mcp/mcpimob",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        3088,
        272
      ],
      "id": "cff62513-6cdf-4295-a7c1-e42d76caad67",
      "name": "MCP Client1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2880,
        288
      ],
      "id": "4cdbbffc-a7c0-41fa-99b5-433d4056a544",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFieldsBasic": {
      "main": [
        [
          {
            "node": "Call 'ToolsCustomerStripe-Imobiliaria'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ToolsCustomerStripe-Imobiliaria'": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "SetFieldsBasic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "caff26e0-8a93-45e0-8acc-3a1c195e2afe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fc63ec46c88470787bbf11071373b797c19b49ae6f14c82986be64648574f11"
  },
  "id": "7NNHhl5EYVGWQzxr",
  "tags": []
}