Fluxos/ToolsCustomerStripe-Imobiliaria.json
{
  "name": "ToolsCustomerStripe-Imobiliaria",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Config').item.json.function }}",
                    "rightValue": "get_or_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2ba71c7e-932a-48d6-9e98-fe922c9122af"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61ad9fb3-58ca-48f7-9cf0-d52c39400446",
                    "leftValue": "={{ $('Config').item.json.function }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40cbf966-b03f-4376-9af5-60733c67af73",
                    "leftValue": "={{ $('Config').item.json.function }}",
                    "rightValue": "find_cep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1904,
        -480
      ],
      "id": "2a9d0b1d-4027-45b9-b8d8-0e872c7cd15a",
      "name": "Switch",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a011e5f-4fa4-4788-a027-4e8a5e3ec3ef",
              "leftValue": "={{ $('FindLead').first().json?.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2784,
        -480
      ],
      "id": "5b30ff03-4a96-45be-a42f-bccdaaa3b7a8",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response': $input.last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        16
      ],
      "id": "5ec44e19-6b75-4d13-8077-230818e2b025",
      "name": "Code"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4240,
        -480
      ],
      "id": "e0ba5870-81e6-4ddc-87b2-bd65aedfdfa6",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop through input items\nconst output = $input.all().map(item => {\n  // Objeto 1 e Objeto 2\n\n  const object1 = $(\"FindLead\").first().json; // Primeiro objeto \n  const object2 = $(\"Config\").first().json // Segundo objeto\n  // Validar que os objetos existem\n  if (!object1 || !object2) {\n    throw new Error('Os campos \"object1\" e \"object2\" são obrigatórios nos dados de entrada.');\n  }\n\n  // Misturar os objetos, sobrepondo os valores do segundo objeto, caso não estejam em branco\n  const mergedObject = { ...object1 }; // Começa com os valores do objeto 1\n\n  for (const [key, value] of Object.entries(object2)) {\n    // Sobrescreve o valor apenas se não estiver vazio\n    if (value !== null && value !== undefined && value !== '') {\n      mergedObject[key] = value;\n    }\n  }\n\n  // Retornar o novo objeto combinado\n  return { json: { mergedObject } };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -128
      ],
      "id": "933a1698-e3df-4446-8842-bed1710d7aef",
      "name": "MergeData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dbcca50-6942-4456-92b2-9175d0416950",
              "leftValue": "={{ $('FindLead').last().json.isEmpty() }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        -48
      ],
      "id": "ad8a7d03-f466-4111-a9e4-82d7f8958e4d",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2480,
        -480
      ],
      "id": "93ef2992-44ef-470b-8941-7c9d8f44de8c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Config').item.json.zip_code }}/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        320
      ],
      "id": "5c2e003e-ed0c-41fa-ad10-0eac5d5a37a5",
      "name": "ConsultaCep",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response': $input.last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        304
      ],
      "id": "89597ab8-909b-48ff-bafc-33343abc2c5d",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d85ea53c-6018-4697-afc9-57f0c87f2750",
              "leftValue": "={{ $json.cep }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2864,
        320
      ],
      "id": "4c8b0b06-8c7a-4415-94b9-558cd119284f",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4373703-63d9-433c-baff-3911c4ee98ba",
              "name": "message",
              "value": "CEP não localizado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        304
      ],
      "id": "d885eee9-bf2e-4ad7-bcda-6fbc9505491b",
      "name": "SetMessageZipCode2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "function"
            },
            {
              "name": "phone"
            },
            {
              "name": "name"
            },
            {
              "name": "email"
            },
            {
              "name": "cliente_intencao"
            },
            {
              "name": "imovel_pretendido"
            },
            {
              "name": "nivel_interesse"
            },
            {
              "name": "localizacao_preferida"
            },
            {
              "name": "retornar_em"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        -480
      ],
      "id": "2bf1ccf7-60ce-41c4-bea6-b4e5136a2850",
      "name": "Start"
    },
    {
      "parameters": {
        "url": "={{ $json.url_strapi }}/{{ $json.table_name }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        -480
      ],
      "id": "fb960408-c631-40f1-8ac1-23b13c68a003",
      "name": "FindLead",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.url_strapi }}/{{ $('Config').item.json.table_name }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"data\": {\n\"name\":\"{{ $('Start').item.json.name }}\",\n\"phone\":\"{{ $('Start').item.json.phone }}\",\n\"cliente_intencao\":\"{{ $('Start').item.json.cliente_intencao || '' }}\",\n\"imovel_pretendido\":\"{{ $('Start').item.json.imovel_pretendido || '' }}\",\n\"email\":\"{{ $('Start').item.json.email || '' }}\",\n\"nivel_interesse\":\"{{ $('Start').item.json.nivel_interesse || '' }}\",\n\"localizacao_preferida\":\"{{ $('Start').item.json.localizacao_preferida || '' }}\",\n\"retornar_em\":\"{{ $('Start').item.json.retornar_em || '' }}\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        -400
      ],
      "id": "da0ec228-3c7f-4fbc-a51b-83955362821f",
      "name": "CreateLead",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332b1821-9580-4cfd-a520-1f8189e9d764",
              "name": "function",
              "value": "={{ $json.function || 'get_or_create' }}",
              "type": "string"
            },
            {
              "id": "2e31c66f-31b8-4800-9154-e5365bcbfdec",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "a7de30b6-1398-4812-a589-68eb0aa9d604",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "bed1554c-d83b-4a11-b9aa-e59e2a63cbb9",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "d788157d-9395-4ac8-9afc-16143362eca1",
              "name": "localizacao_preferida",
              "value": "={{ $json.localizacao_preferida }}",
              "type": "string"
            },
            {
              "id": "db1e6593-d6dc-4820-984c-08583817ddb6",
              "name": "cliente_intencao",
              "value": "={{ $json.cliente_intencao }}",
              "type": "string"
            },
            {
              "id": "8504cfca-3ab2-4720-bf79-74fc03df4d18",
              "name": "retornar_em",
              "value": "={{ $json.retornar_em || $now.plus(30,'days').toUTC() }}",
              "type": "string"
            },
            {
              "id": "bd28d043-01ad-45b1-80ef-686610b8dec1",
              "name": "imovel_pretendido",
              "value": "={{ $json.imovel_pretendido || \"\" }}",
              "type": "string"
            },
            {
              "id": "f1f44334-1c4a-4ede-87ad-1950126c65b6",
              "name": "nivel_interesse",
              "value": "={{ $json.nivel_interesse || \"baixo\" }}",
              "type": "string"
            },
            {
              "id": "96f589b9-9d9f-4b8a-9e46-aed3a771f728",
              "name": "table_name",
              "value": "=leads",
              "type": "string"
            },
            {
              "id": "7ff00a13-53cc-42d7-9ab4-2970d9a38463",
              "name": "app",
              "value": "imobiliaria",
              "type": "string"
            },
            {
              "id": "7a702f86-8b3c-4825-a733-8de25b275a42",
              "name": "url_strapi",
              "value": "https://bloco.advancedbot.com.br",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -480
      ],
      "id": "5feb0af8-25f7-487d-8c09-105e968b5e23",
      "name": "Config",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6a8c8e4-dd0b-419f-ba52-979289a79c7a",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        -144
      ],
      "id": "7985e3e2-29d7-47b2-8ef1-35d88ad93f53",
      "name": "SetError"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Config').item.json.url_strapi }}/{{ $('Config').item.json.table_name }}/{{ $json.mergedObject.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"data\": {\n\"name\":\"{{ $json.mergedObject.name }}\",\n\"phone\":\"{{ $('Start').item.json.phone }}\",\n\"cliente_intencao\":\"{{ $json.mergedObject.cliente_intencao }}\",\n\"imovel_pretendido\":\"{{ $json.mergedObject.imovel_pretendido }}\",\n\"localizacao_preferida\":\"{{ $json.mergedObject.localizacao_preferida }}\",\n\"email\":\"{{ $json.mergedObject.email }}\",\n\"nivel_interesse\":\"{{ $json.mergedObject.nivel_interesse }}\",\n\"retornar_em\":\"{{ $json.mergedObject.retornar_em }}\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        -128
      ],
      "id": "20c6139d-2fe8-485d-913d-9c04959c8db8",
      "name": "UpdateCustomer",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd4a20b6-7405-4eef-9ea1-e5680006b10d",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        80
      ],
      "id": "e2d3abb7-c4da-47b1-8683-7ad210666e36",
      "name": "setError"
    },
    {
      "parameters": {
        "content": "\n# ToolsCustomerStripe-Imobiliarias\n## Esta função atualiza os dados do cliente, busca o cliente e encontra do CEP do endereço do cliente.\n\n# Variável FUNCTION:\n## De acordo com o valor desta variável o fluxo realiza funções diferente: UPDATE, GE_OR_CREATE,FIND_CEP\n\n# Nomes do Fluxos\n## Renomeie todos o fluxos para o nomes sugeridos para não se perder\n\n# Config\n## Utilize o NÓ 'config' para configurar as URLS e tabelas do STRAPI onde os dados serão armazenados\n\n# Comunidade\n## Participe para resolver problemas e tirar dúvidas:\n## https://comunidade.aalencar.com.br",
        "height": 1140,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -544
      ],
      "id": "9f897437-1f8d-490a-882c-2d16c3bf2f66",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConsultaCep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeData": {
      "main": [
        [
          {
            "node": "UpdateCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "MergeData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaCep": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "SetMessageZipCode2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetMessageZipCode2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindLead": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateLead": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "SetError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "FindLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetError": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "UpdateCustomer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "setError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setError": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea922502-65c8-43d8-bad2-e764c99e2c1b",
  "meta": {
    "instanceId": "5fc63ec46c88470787bbf11071373b797c19b49ae6f14c82986be64648574f11"
  },
  "id": "Ja5wyttEsTrsgSYN",
  "tags": []
}